{% extends "layout.html" %}
{% block title %}
Noteikumi
{% endblock %}
{% block content %}
<div id=rules>
    <p>Apmaini divus blakus esošus burtus, lai saliktu eksistējošu vārdu, kas iedos punktus atkarībā no vārda sarežģītības</p>
    <p>Vārda vērtība ir atkarīga no burtiem, kas to veido. Burtiem ir piešķirta vērtība, izmantojot "Scrabble" noteikumus.</p>
    <p>Jo ātrāk atrod vārdu, jo vairāk iegūst punktus: x(vārda vērtība)+10-s(sekundes, cik vajadzēja izmantot šim gājienam, ja s<11)</p>
    <p>Vārdus meklē horizontāli, vertikāli un pa diagonāli, vietā, kur tika apmainīti burti. Apmainot burtus, var tikt izveidots vārds, kurā nebija iekļauti apmainītie burti.</p>
</div>
{% endblock %}